@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format(truetype);
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format(truetype);
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--text-light);
}

:root {
    font-size: 62.5%;

    --primary: #8553e0;
    --text-light: #fff;
    --bg--dark: linear-gradient(to right, #000000 0%, #000000 10%, #120a20 100%);
}

#app {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

div.header ~ div {
    background-color: var(--bg--dark);
}

.filled-icon {
    fill: currentColor;
    stroke: none;
    height: auto;
}

.header {
    width: 100%;
    padding: 24px 48px;
    background: var(--bg--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.header-title--marker {
    fill: var(--primary);
    width: 3rem;
    filter: drop-shadow(4px 2px 40px #ae00ff) drop-shadow(-4px 2px 40px #ae00ff) drop-shadow(-4px -2px 40px #ae00ff) drop-shadow(4px -2px 40px #ae00ff);
}

.header-title--text {
    font-size: 2rem;
}

.header-timer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    font-size: 1.8rem;
    font-weight: 600;
}

.header-timer--time {
    letter-spacing: 1px;
}

.header-timer--time_zone {
    color: gray;
}

.hero {
    height: 500px;
    position: relative;
    border-top: 2px solid rgb(255, 0, 255);
    border-bottom: 2px solid rgb(255, 0, 255);
}

.hero--background {
    height: 100%;
    width: 90%;
    filter:
        brightness(0.75)
        contrast(1.25)
        saturate(1.4)
        hue-rotate(-15deg)
        brightness(0.95);
    position: absolute;
    right: 0;
    /* top: 0; */
}

.hero-main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(
        to right,
        rgba(10, 5, 20, 0.6) 0%,
        rgba(10, 5, 20, 0.25) 50%,
        transparent 100%
    );
    pointer-events: none;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero-main--personal-information {
    background: linear-gradient(
    to right,
    #000000 0%,
    #000000 70%,
    rgba(10, 5, 20, 0.25) 100%
    );
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 48px 0 48px;
    /* gap: 24px; */
}

.hero-main--personal-information--greeting-mesage {
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero-main--personal-information--greeting-message--msg {
    font-size: 2.33rem;
    font-weight: 400;
}

.hero-main--personal-information--greeting-message--marker {
    width: 8rem !important;
    height: 3rem !important;
    transform: scaleX(2);
    transform-origin: center;
}

.hero-main--personal-information--name {
    font-size: 14rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 180px var(--primary), 0 0 150px var(--primary), 0 0 120px var(--primary), 0 0 100px var(--primary), 0 0 90px var(--primary), 0 0 80px var(--primary), 0 0 70px var(--primary), 0 0 60px var(--primary), 0 0 50px var(--primary), 0 0 30px var(--primary), 0 0 15px var(--primary), 0 0 10px var(--primary), 0 0 5px var(--primary);
}

.hero-main--personal-information--jobs {
    font-size: 2.8rem;
    word-spacing: 16px;
}

.hero-main--personal-information--quick_summary {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    padding: 32px 0;
}

.hero-poem {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    padding: 40px 48px;
    background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(42, 42, 42, 0.1) 100%
);
}

.hero-poem--content {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 24px;
}

.hero-poem--content_light {
    color: rgb(175, 175, 175);
}

.hero-poem--content_dark {
    color: rgb(125, 125, 125);
}

.hero-poem--content_light:first-child {
    border-top: 1px solid gray;
    padding-top: 16px;
}

.hero-poem--content_light:last-child {
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
}

.section--title {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 8px;
    font-weight: 600;
    border-left: 6px solid var(--primary);
    /* border-radius: 2px; */
    padding: 4px 16px;
}

.top-songs-section {
    background: var(--bg--dark);
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
}

.top-songs-section--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.top-songs-section--header--nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.top-songs-section--header--nav--btn {
    filter: drop-shadow(0 0 10px red);
    cursor: pointer;
}

.top-songs-section--header--nav--btn:active {
    opacity: 0.5;
}

.top-songs-section--header--nav--btn.disabled {
    opacity: 0.3;
    /* pointer-events: none; */
    cursor: not-allowed;
}

.top-songs-section--content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    overflow-x: auto;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 340px;
    /* padding-top: 20px; */
    padding: 20px;
    margin-right: 20px;
}

.top-songs-section--content::-webkit-scrollbar {
    display: none;                 /* Chrome/Safari */
}